---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Welcome!</h1>
      <p>
        Welcome to this personal corner of internet by Kalle Pyörälä, lead
        frontend developer of [Scaleup Finance](https://scaleup.finance),
        huspand, father of two beautiful girls and amateur photographer living
        in French countryside not far from English channel.
      </p>
      <p>
        I share here my ideas about technology, self development and world in
        general and my photos. Only social media I use semi actively is Twitter,
        so if you want to contact me email is by far the best solution, drop
        your message to me at kallepyorala.com.
      </p>
    </main>
    <Footer />
  </body>
</html>
